


SHELL=/bin/sh
PATH=/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin


# ARGOS
* 0,6,12,18  * * * * Rscript --default-packages=dup -e 'ARGOS.pipeline()' &> ARGOS.pipeline.txt

# BUTEOatEUROPE
* 1  * * * *         Rscript --default-packages=dup -e 'scidbupdate_BUTEOatEUROPE.pipeline()' &> SNBatWESTERHOLZ2_pipeline.txt

# SNB
0 17,18,4 * * *      Rscript --default-packages=dup -e 'SNBatWESTERHOLZ2_pipeline()' &> SNBatWESTERHOLZ2_pipeline.txt

# BUTEOatEUROPE
* 0,6  * * * *       Rscript --default-packages=dup -e 'backup.pipeline()' &> backup.pipeline.txt

# BUTEOatEUROPE
* 1  * * * *         Rscript --default-packages=dup -e 'DB_internal_updates.pipeline()'




